# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/


# Environment variables / secrets
.env
.env.*
*.env

# BigQuery / GCP credentials
*.json
!task1/config/*.json
!task1/data/**/*.json
!task2/src/config.json
!task2/data/raw/**/*.json
credentials.json
service-account.json
task2/credentials/



# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Temporary files
temp/
tmp/
*.tmp
