# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/


# Environment variables / secrets
.env
.env.*
*.env

# BigQuery / GCP credentials
*.json
credentials.json
service-account.json

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Temporary files
temp/
tmp/
*.tmp

